.arial [ font-family: Arial; ]

.scale{
    font-size: 18;
    padding-bottom: 5px;
}

.string{
    font-size: 28;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left:5px;
}

.string6{
    padding-top: 5px;
    pading-bottom: 1px;
    padding-left: 5px;
}

.lineStyle{
    border:0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

body {
    padding-left: 30px;
    padding-top: 30px;
}